.about{
    background-color: #F5F5F5;
    margin-top: -20px;
    text-align: center;
    padding-bottom: 5%;
    
& .about .catch_phrase{
    font-weight: bold;
    display: flex;
    justify-content: center;
    }
}

.catch_phrase, .catch_line{
    display: flex;
    justify-content: center;
}
