.locate{
    background-color: #EFEFEF;
    margin-top: 5px;
    padding: 3%;
    display: flex;
    justify-content: center;
}

#text{
    border: none;
    background-color: #EFEFEF;
    margin-bottom: 3%;
}