$purple: #9356DC;
$orchid: #BA55D3;

.operation {
    margin-bottom: 50px;
    padding-right: 10%;

    & .operation h2 {
        padding: 20px;
    }

    & .operation_steps {
        list-style-type: none;
    }

    & .operation_steps li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 25px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 1px 2px 8px 2px #C4C4C4;
        background-color: #F5F5F5;
        width: 270px;
        height: 10px;
    }

    & .operation_steps li p {
        font-weight: 500;
        margin-left: 20px;
    }

    & .operation_steps li:hover {
        background: #F2EAFB;
    }

    & .operation_steps li:hover .fa {
        color: $purple;
    }


    & .operation_steps li:hover .fa-solid {
        color: $orchid;
    }

    & .operation_step--number {
        background-color: $orchid;
        color: #FFF;
        border-radius: 50%;
        padding: 5px 9px;
        margin-left: -82px;
        margin-right: 29px;
    }
}

#operation_title {
    font-size: 20px;
    display: flex;
    margin-left: 25%;
}

@media all and (min-width: 1100px) {
    .operation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .operation_steps {
        display: flex;
        flex-direction: row;
        margin-right: 22%;
        margin-left: -17%;
        margin-top: 8%;
    }

    .operation_steps li {
        margin-left: 8%;
    }
}