@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

.main_title {
  font-family: "Shrikhand";
  font-size: 14px;
  margin-left: 23%;
}

h1 {
  color: #000;
}

@media all and (min-width: 1100px) {
  h1 {
    font-size: 45px;
  }
}
.header_arrow-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.fa-arrow-left {
  color: #000;
  margin-left: 4%;
}

@media all and (min-width: 1100px) {
  .fa-arrow-left {
    font-size: 25px;
  }
}
.img_banner {
  width: 100%;
  object-fit: cover;
}

/*id pour image du restaurant La note enchantée*/
#note {
  height: 250px;
}

@media all and (min-width: 1100px) {
  header {
    margin-top: 17px;
  }

  .main_title {
    margin-left: 33%;
  }

  .img_banner {
    height: 450px;
    margin-top: 12px;
  }

  #note {
    height: 450px;
  }
}
.menu_header-main {
  background-color: #F5F5F5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -65px;
}

h2 {
  font-family: "Shrikhand";
  margin-left: 3%;
  padding-top: 5%;
}

.menu_header_heart {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
  margin-top: -48px;
  margin-bottom: 10%;
}

/*Remplissage du coeur*/
.fa-heart:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356DC, #B35CDC, #CF64DC, #E86EDB, #FF79DA);
  background-clip: text;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media all and (min-width: 1100px) {
  .menu_header_heart {
    margin-top: -50px;
  }
}
@media all and (min-width: 1100px) {
  #responsive_menu {
    display: flex;
  }
}
body {
  font-family: "Roboto";
}

.starters_title,
.dishes_title,
.desserts_title {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: normal;
  margin: 8% 0% 8% 5%;
}

/*Soulignement des titres*/
.starters_title:after,
.dishes_title:after,
.desserts_title:after {
  content: "";
  position: absolute;
  width: 50px;
  margin-top: -14px;
  border-bottom: 4px solid #99E2D0;
}

@media all and (min-width: 1100px) {
  .starters {
    width: 34%;
  }
}
.meals {
  height: 40px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 1px 2px 8px 2px #C4C4C4;
  margin: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: padding-right 450ms ease-in-out;
  animation: slideup 5s;
  overflow: hidden;
}
.meals:hover {
  padding-right: 105px;
}
.meals:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .check .fa-circle-check {
  transform: rotate(360deg);
}

.delai-1 {
  animation-delay: 0.1s;
}

.delai-2 {
  animation-delay: 0.2s;
}

.delai-3 {
  animation-delay: 0.3s;
}

.delai-4 {
  animation-delay: 0.4s;
}

.delai-5 {
  animation-delay: 0.5s;
}

.delai-6 {
  animation-delay: 0.6s;
}

.delai-7 {
  animation-delay: 0.7s;
}

.delai-8 {
  animation-delay: 0.8s;
}

.delai-9 {
  animation-delay: 0.9s;
}

/*Menu déroulant au chargement de la page*/
@keyframes slideup {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Sélection du menu*/
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 1px;
  height: 3px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 30px;
  right: -61px;
  top: 0;
  opacity: 1;
  transition: transform 330ms ease-in-out;
}
.check .fa-circle-check {
  color: #FFF;
  transition: transform 500ms ease-in-out;
}

h4 {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0;
}
h4 .line {
  font-family: "Roboto";
  margin-left: 5%;
}
h4 .line p {
  margin-top: 0;
}

p {
  font-size: 12px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto";
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 3%;
  margin-top: -14px;
  display: flex;
  justify-content: flex-end;
}

.line {
  margin-top: 3px;
  margin-bottom: 0;
}

.fa-circle-check {
  font-size: 25px;
}

/*ESSAI*/
/*.menu-card{
    box-shadow: 0 0 10px #0000002e;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    width: 50%;
}

.menu-card-part{
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
}

.meals{
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.line{
    text-overflow: ellipsis;
    overflow: hidden;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bolder;
}

.check-confirmation{
    width: 4em;
    margin: -1em -5em -1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    transform: translateX(10px);
    transition-duration: 0.5s;
    cursor: pointer;
}

.check{
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.menu-card:hover .check-confirmation{
    margin-right: -0.5em;
    animation: rest 0.5s;
    animation-fill-mode: forwards;
}

.menu-card:hover .check{
    transform:rotate(0);
}

.fa-circle-check{
    color: #99E2D0;
}*/
.btn_order button {
  background-image: linear-gradient(to left, #9356DC, #B35CDC, #CF64DC, #E86EDB, #FF79DA);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
  box-shadow: 4px 4px 6px #AAA;
  cursor: pointer;
  /*margin: 5% 0% 5% 25%;*/
  width: 30%;
}

.btn_order {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
}

@media all and (min-width: 1100px) {
  .btn_order {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
  }
  .btn_order button {
    width: 20%;
  }
}
/*Footer*/
footer {
  display: block;
  background-color: #303030;
  margin-left: -5%;
  border: 0;
  font-size: 100%;
  justify-content: flex-start;
  padding: 25px;
  color: #FFF;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 5px 0 5px 0;
}

.footer_logo {
  font-family: "Shrikhand";
  justify-content: flex-start;
  margin-left: 10%;
}

a {
  text-decoration: none;
  color: #FFF;
}

li {
  font-family: "Roboto";
}

@media all and (min-width: 1100px) {
  .footer_logo {
    margin-left: 4%;
  }

  footer ul li {
    display: inline;
    margin: 3%;
  }

  ul {
    margin-left: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
