.btn_about{
    background-image: linear-gradient(to left, #9356DC, #B35CDC, #CF64DC, #E86EDB, #FF79DA );
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #FFF;
    font-weight: bold;
    box-shadow: 4px 4px 6px #AAA;
    cursor: pointer;
}