img{
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 330px;
    height: 150px;
    padding-bottom: 10%;
    margin-top: -8%;
    object-position: 50% 63%;
}