.restaurant_card-new{
    color: #008766;
    background: #99E2D0;
    border: 5px solid #99E2D0;
    border-radius: 3px;
    width: 70px;
    height: 0;
    position: absolute;
    right: 14px;
    top: 2px;
    padding-bottom: 14px;
}

.restaurant_card-new p{
    margin-top: 0;
    font-size: 13px;
}